builds/
*.o
main
.vscode/
Makefile
*.sln
*.vcxproj
*.filters
*.user
.vs/
out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeScripts/
Testing/
Makefile
install_manifest.txt
compile_commands.json

[Bb]in/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

